---
name: testing

on:
  push:
    branches:
      - master

jobs:
  artifacts:
    - name: check out code
      uses: actions/checkout@v2

    - uses: actions/upload-artifact@v2
      with:
        name: test
        path: test.txt
