---
name: testing

on:
  push:
    branches:
      - master

jobs:
  artifacts:
    name: artifacts
    runs-on: ubuntu-latest
    steps:

    - name: check out code
      uses: actions/checkout@v2

    - uses: actions/upload-artifact@v2
      with:
        name: test
        path: test.txt

    - uses: actions/download-artifact@v2
      with:
        name: test
    
    - name: Display structure of downloaded files
      run: |-
        ls -R
        cat test.txt
