---
name: testing

on:
  push:
    branches:
      - redhat-3.5
      - master

jobs:
  artifacts:
    name: artifacts
    runs-on: ubuntu-latest
    steps:

    - name: check out code
      uses: actions/checkout@v2

    - name: file content
      run: cat test.txt
