---
name: testing

on:
  push:
    branches:
      - master

jobs:
  install:
    name: install
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@v2

    - name: install kind
      uses: engineerd/setup-kind@v0.5.0
      with:
        version: v0.11.1

    - name: create tagger namespace
      run: |-
        kubectl create namespace tagger
        kubectl config set-context --current --namespace=my-namespace

    - name: install helm chart
      run: |-
        helm install tagger https://github.com/ricardomaraschini/tagger/releases/download/latest/tagger-v0.0.0.tgz
